In [4]:
import numpy as np
import pandas as pd

math_frame =pd.DataFrame(np.random.standard_normal((4, 3)), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print(math_frame)

               b         d         e
Utah   -0.693638  0.368804 -0.888311
Ohio   -0.449048  0.134992  0.889389
Texas  -1.136300  0.261621 -0.206131
Oregon -0.510328  1.309150 -0.668733

In [6]:
# WE LOVE LAMBDA FUNCTIONS!
math_frame.apply(lambda x: x.max() - x.min())

b    0.687251
d    1.174158
e    1.777700
dtype: float64

In [8]:
# SORTING AND RANKING
sorted_obj = pd.DataFrame(np.arange(8).reshape((2, 4)), index=["three", "one"], columns=['d', 'a', 'b', 'c'])
sorted_obj

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [10]:
sorted_obj.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [12]:
nan_series =pd.Series([3.4,3,  np.nan, 7])

In [15]:
nan_series.sort_values(na_position='last')

1    3.0
0    3.4
3    7.0
2    NaN
dtype: float64

In [17]:
# SORTING ON A FRAME

sorted_frame = pd.DataFrame({"b":[4,7,-3,2], "a":[0,1,0,1]})
sorted_frame.sort_values("b")

   b  a
2 -3  0
3  2  1
0  4  0
1  7  1

In [19]:
#RANK

sorted_frame.rank()

     b    a
0  3.0  1.5
1  4.0  3.5
2  1.0  1.5
3  2.0  3.5

In [21]:
# THIS SEEMS TO BE A HELPFUL FUNCTION
sorted_frame.describe()

              b        a
count  4.000000  4.00000
mean   2.500000  0.50000
std    4.203173  0.57735
min   -3.000000  0.00000
25%    0.750000  0.00000
50%    3.000000  0.50000
75%    4.750000  1.00000
max    7.000000  1.00000

In [22]:
# DESCRIBE ALSO WORKS FOR NON-NUMERIC DATA
nonnumeric_series = pd.Series(["c", "x", "d", "a", "a", "t"])
nonnumeric_series.describe()

count     6
unique    5
top       a
freq      2
dtype: object