In [4]:
import numpy as np
import pandas as pd

math_frame =pd.DataFrame(np.random.standard_normal((4, 3)), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print(math_frame)

               b         d         e
Utah   -0.693638  0.368804 -0.888311
Ohio   -0.449048  0.134992  0.889389
Texas  -1.136300  0.261621 -0.206131
Oregon -0.510328  1.309150 -0.668733

In [6]:
# WE LOVE LAMBDA FUNCTIONS!
math_frame.apply(lambda x: x.max() - x.min())

b    0.687251
d    1.174158
e    1.777700
dtype: float64

In [8]:
# SORTING AND RANKING
sorted_obj = pd.DataFrame(np.arange(8).reshape((2, 4)), index=["three", "one"], columns=['d', 'a', 'b', 'c'])
sorted_obj

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [9]:
sorted_obj.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3