In [ ]:
import pandas as pd
import numpy as np

obj = pd.Series([4.5, 7.2,-5.3, 3.6], index=["d","b","a", "c"])

In [8]:
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [ ]:
# REINDEXING IS THE PROCESS OF CHANGING THE INDEX   
obj_two = obj.reindex(["a", "b", "c", "d", "e"])

In [12]:
obj_two

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [33]:
#FORWARDING FILLING IS THE PROCESS OF FILLING IN MISSING VALUES WITH THE PREVIOUS VALUE
#THIS IS AN INTERESTING FUNCTION
# THERE IS ALSO A BACKWARD FILL => bfill
import numpy as np
obj_three = pd.Series(["blue", "purple", "yellow"], index=[0, 2, 4])

obj_four = obj_three.reindex(np.arange(10), method="ffill")

In [34]:
obj_four

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
6    yellow
7    yellow
8    yellow
9    yellow
dtype: object

In [25]:
# REINDEXING CAN BE USED ON DATAFRAMCES AS WELL
city_frame = pd.DataFrame(np.arange(9).reshape((3, 3)),index=["NY", "LA", "SF"], columns=["pop", "area", "state"])

In [27]:
city_frame

    pop  area  state
NY    0     1      2
LA    3     4      5
SF    6     7      8

In [29]:
new_city_frame = city_frame.reindex(["LA", "NY", "SF"])

In [31]:
# NOTE THAT THE INDEX WAS CHANGED BUT NOT THE CORRESPONDING VALUES
new_city_frame

    pop  area  state
LA    3     4      5
NY    0     1      2
SF    6     7      8

In [36]:
# COLUMNS CAN ALSO BE REINDEXED
column_city_frame = city_frame.reindex(columns=["area", "pop", "state"])

column_city_frame

    area  pop  state
NY     1    0      2
LA     4    3      5
SF     7    6      8

In [42]:
# DROP AN AXIS IN A SERIES
obj_drop = pd.Series(np.arange(5), index=["a", "b", "c", "d", "e"])
obj_drop.drop("c")

a    0
b    1
d    3
e    4
dtype: int64

In [44]:
# DROP AN AXIS IN A DATAFRAME
new_city_frame = pd.DataFrame(np.arange(9).reshape((3, 3)),index=["NY", "LA", "SF"], columns=["pop", "area", "state"])
new_city_frame

    pop  area  state
NY    0     1      2
LA    3     4      5
SF    6     7      8

In [46]:
new_city_frame.drop(columns=["pop"])

    area  state
NY     1      2
LA     4      5
SF     7      8

In [ ]:
import pandas as pd
import numpy as np

sample_series = pd.Series(np.arange(5), index=["a", "b", "c", "d", "e"])
sample_series.loc["b"]

KeyError: 1